$primary-color: #272727;
$secondary-color: rbg(202, 45, 122);
$gradient-color: linear-gradient(
  90deg,
  rgba(202, 45, 122, 1) 0%,
  rgba(255, 86, 157, 1) 35%,
  rgba(199, 81, 192, 1) 100%
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: right;
  height: 60px;
  background-color: azure;
  padding: 0 15px;
  color: #999999;

  h3 {
    display: flex;
    justify-content: flex-start;

    &:hover {
      color: $secondary-color;
    }
  }
}

.title-page {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gradient-color;
  background-size: cover;
  font-size: 25px;
  color: azure;
}

.blog-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  color: #0000;
}

.footer {
  background-color: #323437;
  color: #999999;
  padding: 30px 0px 18px;

  a {
    padding: 15px 15px;

    &:hover {
      color: $secondary-color;
    }
  }
}
