$primary-color: #272727;
$secondary-color: #e91e63;
$gradient-color: linear-gradient(
  90deg,
  rgba(199, 81, 192, 1) 0%,
  rgba(255, 86, 157, 1) 35%,
  rgba(202, 45, 122, 1) 100%
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: right;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  height: 60px;
  margin-top: 10px;
  padding: 0 15px;
  color: #999999;
  position: sticky;

  a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #999999;

    &:hover {
      color: $secondary-color;
    }
  }
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding: 9px 25px;
  border-radius: 30px;
  background-color: rgba(233, 30, 98, 1);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.title-page {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $gradient-color;
  background-size: cover;
  font-size: 25px;
  color: azure;
}

.blog-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  color: #0000;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;

  & i {
    background-color: royalblue;
    color: antiquewhite;
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
  }
}
.placeholder-image img {
  padding: 15px;
  height: 8%;
  width: 8%;
  border-radius: 50%;
}
.footer {
  background-color: #323437;
  color: #999999;
  padding: 30px 0px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .footer-left {
    a {
      padding: 15px 15px;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .footer-right {
    font-size: 14px;
  }
}
